# This file specifies intentionally untracked files that all Moodle git
# repositories should ignore. It is recommended not to modify this file in your
# local clone. Instead, use .git/info/exclude and add new records there as
# needed.
#
# Example: if you deploy a contributed plugin mod/foobar into your site, put
# the following line into .git/info/exclude file in your Moodle clone:
# /mod/foobar/
#
# See gitignore(5) man page for more details
#
/config.php
/lib/editor/tinymce/extra/tools/temp/
*~
*.swp
/tags
/TAGS
/cscope.*
/.patches/
/.idea/
/nbproject/
CVS
.DS_Store
/.settings/
/.project
/.buildpath
/.cache
phpunit.xml
# Composer support. Do not ignore composer.json, or composer.lock. These should be shipped by us.
composer.phar
/vendor/
/behat.yml
*/yui/build/*/*-coverage.js
/lib/yuilib/*/build/*/*-coverage.js
# lib/yuilib/version/module/module-coverage.js
/lib/yuilib/*/*/*-coverage.js
atlassian-ide-plugin.xml
/node_modules/

# YSJ Plugins
/admin/tool/ysjcron/
/blocks/configurable_reports/
/blocks/course_overview_tabbed/
/blocks/engagement/
/blocks/progress/
/blocks/turnitin/
/filter/generico/
/filter/rebuslist/
/lib/editor/atto/plugins/cloze/
/lib/editor/atto/plugins/helixatto/
/mod/assign/submission/helixassign/
/mod/assign/submission/mahara/
/mod/bigbluebuttonbn/
/mod/engagement/
/mod/helixmedia/
/mod/lightboxgallery/
/mod/recordingsbn/
/mod/tadc/
/mod/turnitintool/
/mod/turnitintooltwo/
/plagiarism/turnitin/
/question/type/gapfill/
/report/coursesize/
/report/customsql/
/report/engagement/
adaptable/
essential/
klass/
leaf.zip
leaf/
leaf_theme_with_updates_for_mdl_3.0.zip
